body{
    box-sizing: border-box;
    background: aqua;
    padding-top: 80px;
}
.warpOne,.warpTwo,.warpThree{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px;
}
.main{
    box-sizing: border-box;
    width: 500px;
    height: auto;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.icons{
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 40px;
}
i{
    font-size: 50px;
    color: grey;
}
.description{
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-left: 40px;

}
h3{
    color: goldenrod;
    margin:20px;
    text-align: justify;

}
p{
    color: grey;
    text-align: justify;
    margin: 20px;
    font-family: "Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
}